main{ background-color: grey ;
height: 100%;}

img{ display: inline-block;
    width: 25rem;
    height: 25rem;}

figure{
    width: 250px;
    height: 280px;
    }

figcaption{ text-align: center;
font-size: 2rem;}




